@import "../../sass/modules/variables";
@import "../../sass/modules/mixins";

.search {
	&__ctn {
		width: 100vw;
		height: 100vh;

		@include flexCenterAll;

		@include smoothTransition;

		h1 {
			font-weight: 100;
			text-align: center;
			font-style: italic;

			padding: 0 1vw;
			margin-top: 0;
			font-size: 5vw;
		}

		form {
			display: inline-flex;
			justify-content: center;
			align-items: center;

			@include smoothTransition;

			input {
				width: 90%;
				height: 10vh;
				border: 0;
				font-size: 3rem;
				color: $mainTextColor;

				&::placeholder {
					font-weight: 100;
					color: rgba($mainTextColor, 0.5);
				}
			}

			button {
				@include smoothTransition;
				cursor: pointer;

				img {
					height: 10vh;
				}

				&:hover {
					transform: rotate3d(1, 1, 0, 360deg);
				}
			}
		}

	}

	//When user submits the search form
	&--submitted {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 10vh;
		background-image: linear-gradient(to bottom, rgba(black, 0.5), rgba(black, 0));
		form {
			margin-top: 2vh;
			transform: scale(0.5);
			color: white;
		}
	}
}